@import url('https://fonts.googleapis.com/css?family=lora&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: lighter;
    font-family: 'lora',sans-serif !important; 
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    width: 100%;
    position: absolute;
    z-index:100;
    top:0;
    background-color: transparent;
    position: fixed;
    transition: 0.3s ease-in-out;
}

.WhiteNav {
    background-color: white;
}


nav:hover {
    background-color: white;
    
}

.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    flex-grow: 1;
    padding-left: 30px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 28%;
    font-family: 'lora',serif;
    position: center;
    position: absolute;
}

.down-icon {
    position: absolute;
    width: 17px !important;
    height: 17px !important;
    margin-left: 7px;
}

.nav-links li:hover {
    color: rgb(95, 91, 91);
}

.nav-links li{
    color: rgb(10, 10, 10);
    text-decoration: none;
    list-style: none;
    letter-spacing: 2px;
    font-weight: 550;
    font-size: 10px;
    text-transform: uppercase;
    padding-right: 60px;
}

.dropdown-links {
  display: none;
}

nav ul li:hover .dropdown-links {
    display: block;
    position: absolute;
    background-color: white;
    margin-left: -20px;
    padding-top: 0px;
    animation-name: appear;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }

    100% {
        transform: scaleY(1);
        transform-origin: top;
    }
}

nav ul li:hover .dropdown-links ul {
    display: block;
    margin: 12px;
    
}

nav ul li:hover .dropdown-links ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;  
    padding-top: 30px;
}

nav ul li:hover .dropdown-links ul li:last-child {
    border-bottom: none;
}

.dropdown-down-links{
    display: none;
}

.hover-me:hover .dropdown-down-links {
    position: absolute;
    display: block;
    margin-top: -25px;
    margin-left: 150px;
    background-color: white;
    animation-name: appear;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.sign-in {
    padding-right: 50px;
    display: inline;
    text-decoration: none;
}

.sign-in a:hover {
    color: red;
}

.my-cart-b {
    padding-right: 5px;
    display: inline;
}

.fa-angle-right {
    float: right;
}


.cart-icon-icon {
    display: inline;
    margin-right: 105px;
}

.menu-cart {
    position: absolute;
    background-color: rgb(248, 248, 248);
    /* background: black; */
    overflow: hidden;
    width: 22rem;
    min-height: 10rem;
    margin: 20px;
    z-index: 100;
    top: 46px;
    right: 0;
    -webkit-box-shadow: 0px 7px 13px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 7px 13px 1px rgba(0,0,0,0.52);
    box-shadow: 0px 7px 13px 1px rgba(0,0,0,0.52);
    border-radius: 1px;
    transform-origin: top;
    transform: perspective(1000px) scaleY(0) scaleX(0);
    opacity: 1;
    border: 2px black;
    transition: 0.4s;
}

.active-cart {
    transform: perspective(1000px) scaleY(1) scaleX(1);
}



.cart-item-container {
    margin: 8px;
    height: 120px;
}

hr {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.cart-item-container > div {
  display: inline-block;
  margin: 5px;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.cart-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
    margin-top: 2rem;
}

.bt11 {
    margin-left: 0px;
	background-color:#000000;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-size:11px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding:11px 30px;
    text-align: center;
    line-height: 14px;
	text-decoration:none;
}

.bt11 a {
    color: white;
}


.bt22 {
    margin-right: 0px;
	background-color:#b34343;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-size:11px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding:11px 30px;
    line-height: 14px;
}

.bt22 a {
    color: white;
}

@media screen and (max-width:1700px) {
        .nav-links {
        width: 30%;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* NAVBAR */

/* Bar */
.FaCarSide-logo{
    color: black;
    margin-right: 5px;
    transform: translateY(3px);
}

.bar {
    text-align: center;
    background-color: rgb(238, 238, 238);
    position: fixed;
    align-items: center;
    min-height: 5vh;
    width: 100%;
    z-index:50;
    top: 0;
    margin-top: 65px;
}

.bar .bar-text {
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    width: 100%;
}

/* Bar */


/* filter */

.filter {
    text-align: center;
    margin-top: 120px;
}
/* filter */


/* Product */

a
{
    text-decoration: none;
}

.productlist {
    text-align: center;
    margin-top: 50px;
}

.productlist{
    margin-top: 0px;
}

.productlist-center{
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 0px;
  grid-column-gap: 25px;
}

.product-card {
    width: 350px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;

}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 520px;
    padding: 5px;
    background: #ffffff;
    overflow: hidden;
     transition: transform .5s ease;
}

.product-tumb img {
    width: 350px;
    height: 530px;
    background-size: 100%;

}

.product-tumb:hover, .badge{
transform: scale(1.1);

}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 400;
    font-size: 17px;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

/* Product */

/* SingleProduct */

.top-container {
    margin-left: 200px;
    margin-right: 100px;
    max-width: 100rem;
    width: 100%;
    margin-top: 180px;
}

.container-image{
    display: flex;
    flex-direction: column;
    float: left;
    width:40%;
    padding: 5px;
    margin-left: 200px;
}

.container-image img {
    height: 100%;
    width: 90%;
}

.container-information {
    text-transform: uppercase;
    position: fixed;
    float: right;
    margin-left: 50rem;
}

.information-text {
    font-size: 13px;
    font-style: italic;
}

.product-break-line {
    border-bottom: solid black;
    border-width: 0.5px;
    margin-top: 20px;
    max-width: 80rem;
    
}

.product-price-number{
    margin-top: 20px;
}

.product-text-size {
    margin-top: 30px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
}

.gotag-logo {
    transform: translateY(3px);
}

.myButton-cart {
	background-color: black;
    border-radius:8px;
    border:2px solid;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-size:13px;
    letter-spacing: 2px;
	padding:12px 29px;
    text-decoration:none;
    margin-top: 30px;
}

.myButton-cart:hover {
    background: white;
    color: black;
    border-color: black;
    transition: 0.1s ease-in-out;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 1s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  transition: 1s;
}

.accordion-container {
    max-width: 35rem;
    margin-top: 30px;
}

/* SingleProduct */

/* Image Slider */

.hero-slide {
    height: 1440px !important;
    display: flex;
    position: relative;
    overflow: hidden;
}

.slide-image img {
    max-width: 100%;
    max-height:100%;
    transform: translateY(-185px);
}

.slide-image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image Slider */

/* Footer */

.footer-tag {
    text-transform: uppercase;
    text-shadow: aqua;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 0px;
    transform: translateY(-100px);
    font-size: 15px;
}

.footer-line {
    text-transform: uppercase;
    text-shadow: aqua;
    letter-spacing: 5px;
    text-align: center;
    margin: 50px;
    font-size: 15px;
}

.boxes-aligned {
    display: flex;
    flex-direction: row;
    margin: 50px;
    font-size: 15px;
    border: 2px solid green;
    background-origin: padding-box;
}

/* Footer */

.ArrowDropupCircle {
    margin-left: 10px;
    transform: translateY(3px);
}

.ArrowDropdownCircle {
    margin-right: 10px;
    transform: translateY(3px);
}

.cart-container {
    margin-left: 350px;
    margin-right: 100px;
    max-width: 75rem;
    width: 100%;
    margin-top: 180px;
}

table.blueTable tbody td:first-child {
  padding-bottom: 30px;
  padding-top: 30px;
}

table.blueTable tbody td:first-child {
  transform: translateY(10px);
}

table.blueTable {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 200px;
  text-align: left;
  border-collapse: collapse;
}

table.blueTable td, table.blueTable th {
  border: 0px solid rgb(255, 255, 255);
  padding: 8px 0px;
}

table.blueTable tbody td {
  font-size: 15px;
  border-bottom: 1px solid #000000;
}


table.blueTable thead {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
}

table.blueTable thead th {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  color: rgb(0, 0, 0);
  border-left: 0px solid rgb(255, 255, 255);
}

table.blueTable thead th:first-child {
  border-left: none;
  padding-left: 15px;
}


/* CheckOut */

.checkout-accordion-container {
    margin-left: 350px;
    margin-right: 100px;
    max-width: 70rem !important;
    width: 100% !important;
    margin-top: 180px;
}

/* CheckOut */


