@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: lighter;
}

body {
  font-family: 'Roboto Slab', serif;
  scroll-behavior: smooth;
}

a {
  list-style: none;
}

.navbar {
  width: 100%;
  position: relative;
  min-height: 10vh;
  top: 0;
  position: fixed;
  background-color: transparent;
  transition: 0.5s;
  z-index: 100;
}

.WhiteNav {
    background-color: white;
}

.navbar:hover {
  background-color: white;
}

.navbar.white {
  background-color: white;
  z-index: 100;
}

.navbar.white .logo a{
  color: #a78080;
}

.navbar.white .navlinks li a{
  color: #a78080;
}

.inner-navbar{
  margin: 0 auto;
  width:1200px;
}

.navlinks {
  padding-top: 30px !important;
}

.inner-navbar ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.inner-navbar ul li{
  display: inline-block;
}

.navlinks li a {
   font-size: 12px !important;
   font-weight: 800 !important;
   letter-spacing: 1px;
     color: #a78080;
   transition: 1s;
}

.inner-navbar li:nth-child(1){
  float: left;
}

.inner-navbar li:nth-child(2){
  float: left;
}

.inner-navbar li:nth-child(3){
  float: left;
}

.inner-navbar li:nth-child(4){
  float: right;
}

.inner-navbar li:nth-child(5){
  float: right;
}

.inner-navbar li:nth-child(6){
  float: right;
}

.inner-navbar ul li a{
  columns: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 10px 12px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  text-align: center;
  top: 0;
  padding-top: 30px !important;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 20px;
}


.logo a {
  text-decoration: none;
    color: #a78080;
  transition: 1s;
}

.image {
  height: 1100% !important;
  overflow: hidden;
}

.image img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.dropdown-links {
  display: none;
}

.navbar ul li:hover .dropdown-links {
  display: block;
  position: absolute;
  width: 220px;
  background-color: rgb(246, 246, 246);
  margin-left: -40px;
  padding-top: 10px;
  animation-name: appear;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.navbar ul li:hover .dropdown-links ul {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    
}

.navbar ul li:hover .dropdown-links ul li{
    width: 200px;
    background: transparent;
    text-align: center;  
    padding-top: 20px;
    transition: 1s;
}


.navbar ul li:hover .dropdown-links ul li a{
  color: #a78080;
}

.navbar ul li:hover .dropdown-links ul li a:hover{
    font-weight: bold;
    color: black;
    border-bottom: 1px solid;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
        transform-origin: top;
    }
}

.my-cart-b {
    padding-right: 5px;
    display: inline;
}

.cart-icon-icon {
    display: inline;
    margin-right: 105px;
}

.menu-cart {
    position: absolute;
    background-color: rgb(248, 248, 248);
    /* background: black; */
    overflow: hidden;
    width: 22rem;
    min-height: 10rem;
    margin: 20px;
    z-index: 100;
    top: 46px;
    right: 0;
    -webkit-box-shadow: 0px 7px 13px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 7px 13px 1px rgba(0,0,0,0.52);
    box-shadow: 0px 7px 13px 1px rgba(0,0,0,0.52);
    border-radius: 1px;
    transform-origin: top;
    transform: perspective(1000px) scaleY(0) scaleX(0);
    opacity: 1;
    border: 2px black;
    transition: 0.4s;
}

.active-cart {
    transform: perspective(1000px) scaleY(1) scaleX(1);
}



.cart-item-container {
    margin: 8px;
    height: 120px;
}

hr {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.cart-item-container > div {
  display: inline-block;
  margin: 5px;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.cart-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
    margin-top: 2rem;
}

.bt11 {
    margin-left: 0px;
	background-color:#000000;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-size:11px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding:11px 30px;
    text-align: center;
    line-height: 14px;
	text-decoration:none;
}

.bt11 a {
    color: white;
}


.bt22 {
    margin-right: 0px;
	background-color:#b34343;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-size:11px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding:11px 30px;
    line-height: 14px;
}

.bt22 a {
    color: white;
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* NAVBAR */

/* Bar */
.FaCarSide-logo{
    color: black;
    margin-right: 5px;
    transform: translateY(3px);
}

.bar {
    text-align: center;
    background-color: rgb(238, 238, 238);
    position: fixed;
    align-items: center;
    min-height: 5vh;
    width: 100%;
    z-index:50;
    top: 0;
    margin-top: 90px;
}

.bar .bar-text {
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    width: 100%;
}

/* Bar */


/* filter */

.filter {
    text-align: center;
    margin-top: 120px;
}
/* filter */


/* Product */

a
{
    text-decoration: none;
}

.productlist {
    text-align: center;
    margin-top: 50px;
}

.productlist{
    margin-top: 0px;
}

.productlist-center{
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 0px;
  grid-column-gap: 25px;
}

.product-card {
    width: 350px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;

}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 520px;
    padding: 5px;
    background: #ffffff;
    overflow: hidden;
     transition: transform .5s ease;
}

.product-tumb img {
    width: 350px;
    height: 530px;
    background-size: 100%;

}

.product-tumb:hover, .badge{
transform: scale(1.1);

}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 400;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #070707;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #050000;
    font-weight: 600;
}

.product-price small {
    font-size: 90%;
    font-weight: 600;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 7px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

/* Product */

/* SingleProduct */

.top-container {
    margin-left: 200px;
    margin-right: 100px;
    max-width: 100rem;
    width: 100%;
    margin-top: 180px;
}

.container-image{
    display: flex;
    flex-direction: column;
    float: left;
    width:40%;
    padding: 5px;
    margin-left: 200px;
}

.container-image img {
    height: 100%;
    width: 90%;
}

.container-information {
    text-transform: uppercase;
    position: fixed;
    float: right;
    margin-left: 50rem;
}

.information-text {
    font-size: 13px;
    font-style: italic;
}

.product-break-line {
    border-bottom: solid black;
    border-width: 0.5px;
    margin-top: 20px;
    max-width: 80rem;
    
}

.product-price-number{
    margin-top: 20px;
}

.product-text-size {
    margin-top: 30px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
}

.gotag-logo {
    transform: translateY(3px);
}

.myButton-cart {
	background-color: black;
    border-radius:8px;
    border:2px solid;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-size:13px;
    letter-spacing: 2px;
	padding:12px 29px;
    margin-top: 30px;
    transition: 0.3s;
}

.myButton-cart:hover {
    background: white;
    color: black;
    border-color: black 1px;
    transition: 0.3s ease-in-out;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 1s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  transition: 1s;
}

.accordion-container {
    max-width: 35rem;
    margin-top: 30px;
}

/* SingleProduct */

/* Footer */

.footer {
  margin-top: 20px;
  width: 100%;
  height: 120px;
  background: #F1E8Df;
}

.footer-container {
  padding-top: 25px;
  margin-right: 200px;
  margin-left: 200px;
    text-align: center;
  justify-content: center;
}

#footer-Terms,
#footer-privacy,
#footer-span {
  padding-right: 50px;
  font-size: 14px;
  font-weight: 900;
}

/* Footer */

.bembo {
    background-color: #e91e63;
    margin: 50px;
}

.bembo img{
    width: 25%;
    height: 100%;
    margin: 50px;
    margin-top: 70px;
}

/* Cart */

.ArrowDropupCircle {
    margin-left: 10px;
    transform: translateY(3px);
    cursor: pointer;
}

.ArrowDropdownCircle {
    margin-right: 10px;
    transform: translateY(3px);
    cursor: pointer;
}

.cart-container {
    margin-left: 300px;
    margin-right: 300px;
    max-width: 70rem;
    width: 100%;
    margin-top: 200px;
  justify-content: center;
}

.cart-subtotal-price {
  margin: 10px;
  float: right;
  width: 40%;
  font-weight: bold;
}

.cart-subtotal-price-breakline {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  max-width: 70rem;
  width: 100%;
}

.cart-subtotal-price-buttons {
  margin-left: 300px;
  margin-right: 300px;
  max-width: 70rem;
}

.cart-subtotal-price-clearcart-button {
	background-color:#000000;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:14px 43px;
  text-decoration:none;
  transition: 0.2s;
  float: left;
}
.cart-subtotal-price-clearcart-button:hover {
  background-color:#ffffff;
  color: black;
  border: 1px solid black;
}
.cart-subtotal-price-clearcart-button:active {
	position:relative;
	top:1px;
}


.cart-subtotal-price-checkout-button {
	background-color:#000000;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:14px 43px;
  text-decoration:none;
  transition: 0.2s;
  float: right;
}
.cart-subtotal-price-checkout-button:hover {
  background-color:#ffffff;
  color: black;
  border: 1px solid black;
}
.cart-subtotal-price-checkout-button:active {
	position:relative;
	top:1px;
}

table.blueTable tbody td:first-child {
  padding-bottom: 15px;
  padding-top: 15px;
}

table.blueTable {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 200px;
  text-align: center;
  justify-content: center;
  border-collapse: collapse;
}

table.blueTable td, table.blueTable th {
  border: 0px solid rgb(255, 255, 255);
}

table.blueTable tbody td {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px solid #000000;
}

table.blueTable tbody td:last-child {
  font-size: 17px;
  font-weight: 900;
}

table.blueTable thead {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
}

table.blueTable thead th {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
  border-left: 0px solid rgb(255, 255, 255);
}

table.blueTable thead th:first-child {
  border-left: none;
  float: left;
  padding-left: 82px;
}

/* Cart */

/* CheckOut */

.button-form {
    height: 45px;
    width: 250px;
    display: inline;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    background-color: black;
    border: white 0px;  
}

.button-form:hover {
    background-color: rgb(77, 72, 72);
}

.button-form:active {
    background-color: rgb(0, 0, 0) !important;
}

.checkout-accordion-container {
    margin-left: 150px !important;
    margin-right: 10px;
    max-width: 50rem !important;
    width: 100% !important;
    margin-top: 200px;
    float:left;
}

.order-summary-cart {
  text-align: center;
  justify-content: center;
  transform: translateY(12rem);
  margin-left: 15rem;
  margin-bottom: 30px;
  width: 400px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.16);
}

.layout-header-summary {
  padding: 20px;
  width: 100%;
}

.layout-header-summary span {
  float: left;
  font-weight: 800;
}

.layout-header-summary a {
  float: right;
  font-weight: 800;
  text-decoration: none;
}

.layout-section-body h2{
  font-size: 15px;
  float: left;
  margin-left: 20px;
}

.layout-section-item {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.layout-section-item img{
  float: left;
}

.layout-section-item div h2{
  
}

.layout-section-subtotal-item, .layout-section-total-item {
  height: 40px;
}

.layout-section-subtotal-item div{
  float: left;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.layout-section-subtotal-item span{
  float: right;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.layout-section-total-item div{
  float: left;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.layout-section-total-item span{
  float: right;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

/* CheckOut */


.jumpotron {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  height: 510px;
background: #F1E8Df;
}


.bombo {
  font-size: 20px;
  color: red;
  top: 50%;
  left:0%;
  position: fixed;
}

#header-four {
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
  padding: 10px;
    color: #a78080;
}

#header-three {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
    padding: 10px;
      color: #a78080;
}

#header-two {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  color: #a78080;
}

#header-one {
  text-align: center;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 0px;
  margin-bottom: 5rem;
  color: #a78080;
}

#container-above {
  padding: 50px;
  padding-right: 250px;
  padding-left: 250px;
}

.image-container {
  height: 100%;
  width: 100%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.caption {
  display: block;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  text-shadow: black 2px;
  letter-spacing: 2px;
}

.image-item {
  text-align:center;
  flex: 1 0 25%;
  padding: 10px;
}

.image-item img {
  padding: 1px;
  width: 430px;
  height: 570px;
  filter: gray;
  filter: grayscale(100%);
  transition: 0.5s;
}

.image-item img:hover {
  filter: none;
  transform: scale(0.9);
}


